
<table>
<section>Name:  <%=@name [@current_item]%></section><br>
<section>Description:  <%=@description[@current_item]%></section><br>
<section>Price:  <%= @price[@current_item]%></section><br>
<section>Images:  <%=@image[@current_item]%></section>
 </table>
	
